.deck {
	perspective: 1000px;
}

.deck .card {
	transform-style: preserve-3d;
	transition: transform 0.7s;
}

.deck .card .closed {
	width: 100%; 
	height: 100%;
	position: absolute;
	border-radius: 8px;
	transform: rotateY(0deg);
	transition: transform 0.7s;
	backface-visibility: hidden;
	background: #000;
	/*pattern from here: https://mark-rolich.github.io/MemoryGame.js/ */
	background-image: repeating-linear-gradient(45deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 5px, rgb(34, 188, 189) 6px, rgb(34, 188, 189) 6px, rgba(255,255,255,.1) 7px),repeating-linear-gradient(135deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 5px, rgb(34, 188, 189) 6px, rgb(34, 188, 189) 6px, rgba(255,255,255,.1) 7px);
	background-image: -webkit-repeating-linear-gradient(45deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 5px, rgb(34, 188, 189) 6px, rgb(34, 188, 189) 6px, rgba(255,255,255,.1) 7px),repeating-linear-gradient(135deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 5px, rgb(34, 188, 189) 6px, rgb(34, 188, 189) 6px, rgba(255,255,255,.1) 7px);
}

.deck .card .open {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	justify-content: center;
	border-radius: 8px;
	backface-visibility: hidden;
	transform: rotateY(-180deg);
	font-size: 33px;
	cursor: default;
	background: #02b3e4;
	background: inherit;
}

.deck .card .open .fa {
	align-self: center;
	z-index: 2;
	color: #fff;
}

.deck .card.flipped {
	transform: rotateY(-180deg);
}

.deck .card.unmatched {
	background: red !important;
	-moz-transition:color .2s ease-in;
	-o-transition:color .2s ease-in;
	-webkit-transition:color .2s ease-in;
	animation-name: pulse;
	animation-duration: .75s;
}

.deck .card.matched {
	background: #02ccba;
	font-size: 33px;
	cursor: default;
	animation-name: rubberBand;
	animation-duration: .75s;
}


/* Source of the pulse and rubberBand animations: http://www.theappguruz.com/tag-tools/web/CSSAnimations/ */
/*I had to rotate them -180degrees*/


.pulse {
	-webkit-animation-name: pulse;
	animation-name: pulse;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale3d(1, 1, 1) rotateY(-180deg);
		transform: scale3d(1, 1, 1) rotateY(-180deg);
	}
	50% {
		-webkit-transform: scale3d(1.05, 1.05, 1.05) rotateY(-180deg);
		transform: scale3d(1.05, 1.05, 1.05) rotateY(-180deg);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1) rotateY(-180deg);
		transform: scale3d(1, 1, 1) rotateY(-180deg);
	}
}
@keyframes pulse {
	0% {
		-webkit-transform: scale3d(1, 1, 1) rotateY(-180deg);
		transform: scale3d(1, 1, 1) rotateY(-180deg);
	}
	50% {
		-webkit-transform: scale3d(1.05, 1.05, 1.05) rotateY(-180deg);
		transform: scale3d(1.05, 1.05, 1.05) rotateY(-180deg);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1) rotateY(-180deg);
		transform: scale3d(1, 1, 1) rotateY(-180deg);
	}
} 


.rubberBand {
	-webkit-animation-name: rubberBand;
	animation-name: rubberBand;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@-webkit-keyframes rubberBand {
	0% {
		-webkit-transform: scale3d(1, 1, 1) rotateY(-180deg);
		transform: scale3d(1, 1, 1) rotateY(-180deg);
	}
	30% {
		-webkit-transform: scale3d(1.25, 0.75, 1) rotateY(-180deg);
		transform: scale3d(1.25, 0.75, 1) rotateY(-180deg);
	}
	40% {
		-webkit-transform: scale3d(0.75, 1.25, 1) rotateY(-180deg);
		transform: scale3d(0.75, 1.25, 1) rotateY(-180deg);
	}
	50% {
		-webkit-transform: scale3d(1.15, 0.85, 1) rotateY(-180deg);
		transform: scale3d(1.15, 0.85, 1) rotateY(-180deg);
	}
	65% {
		-webkit-transform: scale3d(.95, 1.05, 1) rotateY(-180deg);
		transform: scale3d(.95, 1.05, 1) rotateY(-180deg);
	}
	75% {
		-webkit-transform: scale3d(1.05, .95, 1) rotateY(-180deg);
		transform: scale3d(1.05, .95, 1) rotateY(-180deg);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1) rotateY(-180deg);
		transform: scale3d(1, 1, 1) rotateY(-180deg);
	}
}
@keyframes rubberBand {
	0% {
		-webkit-transform: scale3d(1, 1, 1) rotateY(-180deg);
		transform: scale3d(1, 1, 1) rotateY(-180deg);
	}
	30% {
		-webkit-transform: scale3d(1.25, 0.75, 1) rotateY(-180deg);
		transform: scale3d(1.25, 0.75, 1) rotateY(-180deg);
	}
	40% {
		-webkit-transform: scale3d(0.75, 1.25, 1) rotateY(-180deg);
		transform: scale3d(0.75, 1.25, 1) rotateY(-180deg);
	}
	50% {
		-webkit-transform: scale3d(1.15, 0.85, 1) rotateY(-180deg);
		transform: scale3d(1.15, 0.85, 1) rotateY(-180deg);
	}
	65% {
		-webkit-transform: scale3d(.95, 1.05, 1) rotateY(-180deg);
		transform: scale3d(.95, 1.05, 1) rotateY(-180deg);
	}
	75% {
		-webkit-transform: scale3d(1.05, .95, 1) rotateY(-180deg);
		transform: scale3d(1.05, .95, 1) rotateY(-180deg);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1) rotateY(-180deg);
		transform: scale3d(1, 1, 1) rotateY(-180deg);
	}
}